<div class="sidebar">
  <img src="../../../assets/logo.jpg" class="logo">
  <ul>
    <li [routerLink]="['/dashboard']" [routerLinkActive]="'active'">dashboard</li>
    <li [routerLink]="['/eur']" [routerLinkActive]="'active'">EUR</li>
    <li [routerLink]="['/usd']" [routerLinkActive]="'active'">USD</li>
    <li [routerLink]="['/chf']" [routerLinkActive]="'active'">CHF</li>
    <li [routerLink]="['/gbp']" [routerLinkActive]="'active'">GBP</li>
  </ul>
  <div class="footer">
    <a class="author" href="https://pl.freepik.com/wektory/biznes">Biznes plik wektorowy utworzone przez rawpixel.com - pl.freepik.com</a>
  </div>
</div>
