.sidebar{
  background-color: gainsboro;
  width: 180px;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
}
ul{
  margin-top: 150px;
  padding-left: 0;
  list-style: none;
  text-transform: uppercase;
}
li{
  padding: 15px;
  cursor: pointer;
}
li.active{
  background-color: darkgrey;
}
li:hover{
  background-color: grey;
  color: white;
}
