@import "~bootstrap/dist/css/bootstrap.css";

.data-container{
  margin-top: 50px;
}
.prices{
  font-size: 1.35rem;
}
.text-bold{
  font-weight: 700;
}
.exchange{
  margin-top: 100px;
}
.width-total{
  width: 100%;
}
